<h2> Edit text!!! Yeeeahh!</h2>


<%= form_for :article, url: article_path(@article), method: :put do |f| %> 

	<p> New form! </p>
	<h3> <%= f.label :title %></h3>
	<h1> <%= f.text_field  :title %> </h1>
	<h1> <%= f.text_field  :text %> </h1>

	<p3> <%= f.submit 'Edit'  %></p3>

<%end%>