<h2> All </h2>


<%= link_to "New", "/articles/new" %><hr/>

<% @articles.each do |article| %>

<p1>
	<br/><%= article.id %><br/>
</p1>


<h2>

	<%= article.title %>

</h2>
	

<p2>
	<%= article.text %><br/>
</p2>

<p2> 


<%= link_to "Show", article_path(article) %> |
<%= link_to "Edit", edit_article_path(article)  %> |
<%= link_to "Destroy", article_path(article), method: :delete, data: {confirm: "Are you shure?"} %> | <br/>


</p2>

<hr/>

<% end %>
