<h2> NEW!! Article!!! Yeeeahh!</h2>


<%= form_for :article, url: articles_path do |f| %> 

	<p> New form! </p>
	<h3> <%= f.label :title %></h3>
	<h1> <%= f.text_field  :title %> </h1>
	<h1> <%= f.text_area :text, size: "60x10" %> </h1>

	<p3> <%= f.submit 'Make Article'  %></p3>

<%end%>


<%= link_to "Posts", articles_path %> 
