
  <h2>Ночь №<%= @article.title %></h2> 


<p2> <%= @article.text %> </p2><hr/>







<% @kom = ["Дэйзи","Мистер Рокфеллер","Мистер Кэмпбелл","Врач","Ветеран","Проводница","Актриса","Журналистка"] %>
<% @kash = { "Дэйзи" => 0,"Мистер Рокфеллер" => 0, "Мистер Кэмпбелл" => 0, "Врач"=>0, "Ветеран" => 0, "Проводница"=>0, "Актриса"=>0, "Журналистка"=>0}%>
<% if current_user.group == 10 %>

<table class="table">
  <thead>
    <tr>
     <th scope="col">Ведущий/команда №</th>
      <th scope="col">Дейзи</th>
      <th scope="col">Мистер Рокфеллер</th>
      <th scope="col">Мистер Кэмпбелл</th>
      <th scope="col">Врач</th>
      <th scope="col">Ветеран</th>
      <th scope="col">Проводница</th>
      <th scope="col">Актриса</th>
      <th scope="col">Журналистка</th>
      <th scope="col">Комиссары проверяют</th>

      </tr>
  </thead>
  <tbody>
  	<% @article.comments.each do |comment|%>
    <tr>
   
    <td><%=comment.author%>/<%=comment.group%></td>
      <td><%=comment.vote_1%></td>
      <td><%=comment.vote_2%></td>
      <td><%=comment.vote_3%></td>
      <td><%=comment.vote_4%></td>
      <td><%=comment.vote_5%></td>
      <td><%=comment.vote_6%></td>
      <td><%=comment.vote_7%></td>
      <td><%=comment.vote_8%></td>
      <td><%=@kom[comment.det-1]%><%comment.det%> <%@kash[@kom[comment.det-1].to_s]+=1%></td>

    

     
    </tr>

    <%end%>

     Комиссары проверяют: <%=@kom = @kash.max_by{|k,v| v} %>
     <% @all = @article.comments.size %>,
     это 
     <% @prc =  @kash.values.max.to_f/ @all.to_f * 100.0   %>
     <%= @prc.floor(2)%> % всех проголосовавших комиссаров
   
  </tbody>
</table>


<%else%>

<table class="table">
  <thead>
    <tr>
     
      <th scope="col">Дейзи</th>
      <th scope="col">Мистер Рокфеллер</th>
      <th scope="col">Мистер Кэмпбелл</th>
      <th scope="col">Врач</th>
      <th scope="col">Ветеран</th>
      <th scope="col">Проводница</th>
      <th scope="col">Актриса</th>
      <th scope="col">Журналистка</th>
      </tr>
  </thead>
  <tbody>
  	<% @article.comments.each do |comment|%>
    <tr>
   
     <% if comment.group == current_user.group %>
      <td><%=comment.vote_1%></td>
      <td><%=comment.vote_2%></td>
      <td><%=comment.vote_3%></td>
      <td><%=comment.vote_4%></td>
      <td><%=comment.vote_5%></td>
      <td><%=comment.vote_6%></td>
      <td><%=comment.vote_7%></td>
      <td><%=comment.vote_8%></td>
      <%end%>
    </tr>

    <%end%>
  </tbody>
</table>







<%= current_user.username%> 
<% @q = 0 %>
<% @article.comments.each do |comment|%>

<% if comment.author == current_user.username %>

<%= @q = 1 %>

<%end%>

<%end%>


<% if @q < 1 %>

<%= form_for ([@article, @article.comments.build]) do |f| %> 

	<p>  </p>
	
	<h1> <%= f.hidden_field  :author,  value:  current_user.username %> </h1>
	<h1> <%= f.hidden_field  :group,  value:  current_user.group%> </h1>

	<h3> <%= f.label :Проголосуйте_за_каждого_персонажа%></h3>


<div class="alert  alert-success" role="alert">
Дэйзи
<%= f.select :vote_1, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>

</div>

<div class="alert  alert-success" role="alert">
Мистер Рокфеллер
<%= f.select :vote_2, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>
</div>

<div class="alert  alert-success" role="alert">
Мистер Кэмпбелл
<%= f.select :vote_3, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>
</div>

<div class="alert  alert-success" role="alert">
Врач
<%= f.select :vote_4, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>
</div>

<div class="alert  alert-success" role="alert">
Ветеран
<%= f.select :vote_5, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>
</div>

<div class="alert  alert-success" role="alert">
Проводница
<%= f.select :vote_6, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>
</div>

<div class="alert  alert-success" role="alert">
Актриса
<%= f.select :vote_7, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>
</div>


<div class="alert  alert-success" role="alert">
Журналистка
<%= f.select :vote_8, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>
</div>

<div class="alert  alert-success" role="alert">
	Комиссар считает, что нужно проверить: 
<%= f.select :det, [["Дэйзи", 1],["Мистер Рокфеллер",2],["Мистер Кэмпбелл",3],["Врач",4],["Ветеран",5],["Проводница",6],["Актриса",7], ["Журналистка",8]] %>
</div>
<!--
<div class="alert  alert-success" role="alert">
<%= f.select :vote_9, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>
</div>

<div class="alert  alert-success" role="alert">
<%= f.select :vote_10, [[0],[1],[2],[3],[4],[5],[6],[7],[8],[9]] %>
</div>


-->












	<h2> <%= f.label :Примечания%></h2>
	<p1> <%= f.text_field :body, size: "50x5"  %> </p1>
	
	<p3> <%= f.submit 'Post comment'  %></p3>

<%end%>

<%end%>

<%end%>