
  <h2>Ночь №<%= @article.title %></h2> 


<p2> <%= @article.text %> </p2><hr/>



<%= link_to "Posts", articles_path %><hr/> 










<% @article.comments.each do |comment|%>

	
	



<div class = "container">
	<div class = "row">
		<div class = "col-sm-4 col-xs-4 col-md-6">
			<ul> 
				<li><%= "Ведущий #{comment.author}" %> <br/></li>
			</ul>
		</div>
		<div class = "col-sm-8 col-xs-8 col-md-6">
			<ul> 
				<%= "writed: #{comment.body}"%><hr/>
			</ul>
		</div>
		
	</div>
</div>
<%end%>

<%= form_for ([@article, @article.comments.build]) do |f| %> 

	<p> New form! </p>
	
	<h1> <%= f.hidden_field  :author,  value:  current_user.username %> </h1>
	<h1> <%= f.hidden_field  :group,  value:  current_user.group%> </h1>

	<h3> <%= f.label :Проголосуйте_за_каждого_персонажа%></h3>
	<h1> <%= f.text_area :body, size: "40x5"  %> </h1>
	<p3> <%= f.submit 'Post comment'  %></p3>

<%end%>