<p> <%= t('contacts.contact_us') %></p>


<h2> NEW!! Article!!! Yeeeahh!</h2>


<%= form_for :contact, url: contacts_path do |f| %> 

	<p> New form! </p>
	<h3> <%= f.label :email %></h3>
	<h1> <%= f.text_field  :email %> </h1>


	<h3> <%= f.label :message %></h3>
	<h1> <%= f.text_field  :message %> </h1>

	<p3> <%= f.submit 'send message!' %></p3>

<%end%>